{% extends 'main.html' %}

{% block content %}

    <div>
        {% for profile in profiles %}
            <a href="{% url 'user-profile' profile.id %}">
                <div>
                    <div>
                        <img style="width: 50px;" class="avatar avatar--md" src="{{ profile.profile_image.url }}" alt="image" />
                    </div>
                    <div>
                        <h3>{{ profile.name }}</h3>
                        <h5>{{ profile.short_intro }}</h5>
                    </div>
                    <p>
                        {{ profile.bio }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock content %}